.app-header {
  text-align: center;
  margin-bottom: 2.5rem;

  &__logo {
    width: 3.125rem;
    height: 3.125rem;
    margin: 1.25rem auto;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &__nav {
    a {
      margin: 0 0.5rem;
      text-decoration: none;
      font-weight: bold;
      color: $secondary-color;
      font-size: 1.3rem;

      &:hover {
        color: $accent-2-color;
      }

      &.router-link-exact-active {
        color: $accent-2-color;
        border-bottom: 2px $accent-2-color solid;
      }
    }
  }
}