.home {
  &__card {
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 0.5rem;
    background-color: $accent-1-color;
    cursor: pointer;

    &__icon {
      background-color: $primary-color;
      border-radius: 50%;
      padding: 0.5rem;

      .v-icon.v-icon {
        font-size: 2rem;
        color: $accent-1-color;
      }
    }

    &__content {
      p {
        opacity: .65;
        font-style: italic;
      }
    }

    &:hover {
      background-color: $accent-2-color;

      .home__card__icon {
        .v-icon.v-icon {
          color: $accent-2-color;
        }
      }
    }
  }
}