.short-link {
  &__content {
    text-align: center;

    &__message {
      margin-bottom: 1.25rem;

      span {
        color: $success-color;
      }
    }

    &__error {
      margin-bottom: 1.25rem;

      span {
        color: $error-color;
      }
    }

    &__input {
      margin-bottom: 1.25rem;
    }

    &__button {
      button {
        &.copy {
          background-color: $success-color;
          color: $white-color;
        }
      }
    }

    &__result {
      margin-bottom: 1.25rem;
    }
  }
}