$primary-color: #fff;
$secondary-color: #999999;
$accent-1-color: #252726;
$accent-2-color: #27C498;

$error-color: #B34045;
$success-color: #2B884D;

$white-color: #fff;
$black-color: #000;

$background-color: #0C0C0C;